.border-image-clip-path {
  height: 100px;
  line-height: 100px;
  margin: auto;
  border: 10px solid;
  border-image: linear-gradient(45deg, gold, deeppink) 1;
  clip-path: inset(0px round 10px);
  animation: huerotate 6s infinite linear;
  filter: hue-rotate(360deg);
  background-image: -webkit-linear-gradient(
    315deg,
    rgb(36, 155, 115) 25%,
    rgb(0, 24, 144)
  );
  background-clip: text;
  color: #fff;
}

@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rorate(360deg);
  }
}
